<?xml version="1.0"?>

<launch>
    <include file="$(find flea3)/launch/single_node.launch">
        <arg name="device" value="16401219"/>
    </include>

    <!-- rectify -->
    <node pkg="nodelet" type="nodelet"
        name="undistort" args="standalone multicam_calibration/UndistortNodelet"
        clear_params="true" output="screen">
        <remap from="~image" to="pg_16401219/image_raw"/>
        <remap from="~camera_info_raw" to="pg_16401219/camera_info"/>
        <!-- for balance and fov_scale see opencv fisheye documentation -->
        <param name="balance" value="0.0"/>
        <param name="fov_scale" value="2.0"/>
    </node>

    <include file="$(find velodyne_puck_decoder)/launch/velodyne_puck_decoder_nodelet.launch"/>

    <node pkg="lidar_depth_map" type="lidar_depth_map" name="lidar_depth_map" output="screen">
        <remap from="/lidar_depth_map/image" to="/undistort/undist_image"/>
        <remap from="/lidar_depth_map/pc" to="/velodyne_point_cloud"/>
        <remap from="/lidar_depth_map/cam_info" to="/undistort/camera_info"/>
    </node>
</launch>
